.job-title-icon {
    display: inline-block;
    position: relative;
    bottom: 2px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    background-color: #337ab7;
    color: white;
    line-height: 30px;
}

.well.profile-description {
    h4 {
        margin-top: 0;
    }
}

.well.contact-info {
    h4 {
        margin-top: 0;
    }
}